body {
    background-color: #f4f4f4;
    color:

font: normal 14px sans-serif, Ariel, Helvetica;
    /* ^^^Quicker way to say what is says below
    font-family: Ariel, sans-serif, Helvetica;
    font-size: 14px;
    font-weight: normal;
    */

line-height: 1.2em;
margin:0
}

:root {
  text-align: center;
}

.Introduction{
        background-color: ;
        color: ;
        text-align: center;
}

.Work{


}

.Contact{



}
